*{
    margin: 0;
    padding: 0;
}

.container{
    border: 1px solid black;

    width: 250px;
    height: 400px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 20px;
    background-color: antiquewhite;
}


img{
    width: 150px;
    height: 150px;
}

button{
    padding: 10px;
    font-size: 18px;
}