.container{
    width: 200px;
    height: 200px;
    border: 1px solid black;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
  }
  
  
  img{
    width: 150px;
    height: 100px;
  }